version: "3.9"

services:
  mongodb:
    image: mongo:latest
    container_name: mongodb
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db
    networks:
      - app-network

  grpc-service:
    build: ./grpc-service
    container_name: grpc-service
    depends_on:
      - mongodb
    environment:
      MONGO_HOST: mongodb
      MONGO_PORT: 27017
      MONGO_DB: itemsdb
    ports:
      - "50051:50051"
    networks:
      - app-network

  rest-service:
    build: ./rest-service
    container_name: rest-service
    depends_on:
      - grpc-service
    environment:
      GRPC_HOST: grpc-service
      GRPC_PORT: 50051
    ports:
      - "5000:5000"
    networks:
      - app-network

volumes:
  mongo-data:

networks:
  app-network:
    driver: bridge
